<html ng-app="tableSortApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>angular-table-sort</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"></script>
</head>

<body>

  <div class="container" ng-controller="Controller as vm">
    <div class="jumbotron">
      <h1>Table-sort</h1>

      <div class="alert alert-info">
        <p>Sort type: {{ vm.sort.type }}</p>
        <p>Sort reverse: {{ vm.sort.reverse }}</p>
        <p>Search query: {{ vm.sort.searchQuery }}</p>
      </div>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>

          <input type="text" class="form-control" placeholder="Search companies" ng-model="vm.sort.searchQuery">

        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead><tr>
        <th>
          <a href="#" ng-click="vm.sort.type = 'name'; vm.sort.reverse = !vm.sort.reverse">
            Name
            <span ng-show="vm.sort.type == 'name' && !vm.sort.reverse" class="fa fa-caret-down"></span>
            <span ng-show="vm.sort.type == 'name' && vm.sort.reverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="vm.sort.type = 'address'; vm.sort.reverse = !vm.sort.reverse">
            Address
            <span ng-show="vm.sort.type == 'address' && !vm.sort.reverse" class="fa fa-caret-down"></span>
            <span ng-show="vm.sort.type == 'address' && vm.sort.reverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="vm.sort.type = 'phone'; vm.sort.reverse = !vm.sort.reverse">
            Phone
            <span ng-show="vm.sort.type == 'phone' && !vm.sort.reverse" class="fa fa-caret-down"></span>
            <span ng-show="vm.sort.type == 'phone' && vm.sort.reverse" class="fa fa-caret-up"></span>
          </a>
        </th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="company in vm.companies | orderBy:vm.sort.type:vm.sort.reverse | filter:vm.sort.searchQuery">
          <td ng-bind="company.name"></td>
          <td ng-bind="company.address"></td>
          <td ng-bind="company.phone"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/faker/build/build/faker.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-underscore/angular-underscore.js"></script>

  <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->

  <script src="app/app.js"></script>
  <script src="app/controller.js"></script>
  <script src="app/service.js"></script>

</body>

</html>
